<footer class="bg-base-2 w-full flex justify-center items-center relative">
  <div
    class="w-full flex md:grid md:grid-cols-3 p-5 items-center md:justify-center justify-between"
  >
    <div>
      <img src="/lg-logo-transparent.png" alt="logo" class="w-10" />
    </div>
    <div
      class="flex gap-2 justify-end items-center text-nowrap md:col-span-2 md:col-start-2"
    >
      <span class="p-2 text-sm text-neutral-300"
        >Siempre Mejorando 🚀 | hecho por Luis Gonzalez.</span
      >
    </div>
  </div>
</footer>
