<section id="about" class="w-full h-screen relative">
  <div class="w-full h-full grid md:grid-cols-2 grid-cols-1">
    <div class="w-full h-full flex justify-center">
      <div
        class="max-w-sm w-full max-h-[90%] bg-clouds border border-[#5ce1e6] bg-neutral-900 rounded-b-3xl drop-shadow-xl drop-shadow-neutral-900"
      >
        <div class="w-full py-5 flex flex-col justify-center items-center">
          <h1 class="text-3xl font-semibold">About Me</h1>
        </div>
      </div>
    </div>
    <div></div>
  </div>
  <div class="absolute top-0 left-0 w-full z-10">
    <picture class="w-full">
      <source
        srcset="/split-end-dark.svg"
        media="(prefers-color-scheme: dark)"
      />
      <img
        class="w-full h-48"
        src="/split-end-light.svg"
        alt="split from https://www.shapedivider.app/"
      />
    </picture>
  </div>
</section>
