<section id="skills" class="w-full md:h-screen h-full relative">
  <div
    class="w-full h-full bg-gradient bg-clouds mask-svg flex justify-center items-center"
  >
  </div>
</section>

<style>
  .mask-svg {
    mask-image: url("/wave.svg");
    -webkit-mask-image: url("/wave.svg");

    mask-mode: alpha;
    -webkit-mask-mode: alpha;

    mask-size: 100%;
    -webkit-mask-size: 100%;

    mask-position: top;
    -webkit-mask-position: top;

    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
  }
</style>
