<section id="skills" class="w-full md:h-screen h-full relative">
  <div
    class="w-full bg-gradient bg-clouds mask-svg py-28 absolute left-0 top-0"
  >
    <h1 class="md:text-4xl uppercase text-3xl font-semibold text-center">
      Skills
    </h1>
  </div>
  <div class="h-full w-full bg-neutral-50"></div>
</section>

<style>
  .mask-svg {
    mask-image: url("/wave.svg");
    -webkit-mask-image: url("/wave.svg");

    mask-mode: alpha;
    -webkit-mask-mode: alpha;

    mask-size: 100%;
    -webkit-mask-size: 100%;

    mask-position: top;
    -webkit-mask-position: top;

    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
  }
</style>
